body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.canvas-container {
    display: flex;
}

canvas {
    border: 1px solid #ccc;
    margin-top: 20px;
}

button, input[type="file"] {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover, input[type="file"]:hover {
    background-color: #0056b3;
}

#layerManager {
    margin-top: 20px;
    text-align: left;
    width: 400px; /* Ensure it matches the canvas/frame width */
    margin-left: auto;
    margin-right: auto;
}

.layer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.layer-item.active {
    background-color: #007BFF;
    color: #fff;
}

#imageGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageGallery img {
    width: 100px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

#paginationControls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#paginationControls button {
    margin: 0 5px;
    padding: 5px 10px;
}
